.hours {
    display: grid;
    grid-template-columns: 30%;
    float: left;
}

.hours {
    background: rgb(138, 139, 141);
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
}
